In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Descriptive statistics

In [2]:
transactions = pd.read_csv('../data/transactions.csv', sep=';')
transactions.head()

   client_id      datetime  code  type         sum
0   96372458  421 06:33:15  6011  2010  -561478.94
1   24567813  377 17:20:40  6011  7010    67377.47
2   21717441   55 13:38:47  6011  2010   -44918.32
3   14331004  263 12:57:08  6011  2010 -3368873.66
4   85302434  151 10:34:12  4814  1030    -3368.87

In [3]:
types = pd.read_csv('../data/types.csv', sep=';')
types.head()

   type                                   type_description
0  8001                 Установление расх. лимита по карте
1  2411  Перевод с карты на счет др.лица в одном тер. б...
2  4035                                    н/д(нет данных)
3  3001            Комиссия за обслуживание ссудного счета
4  2420  Перевод с карты на счет физ.лица в другом тер....

In [4]:
codes = pd.read_csv('../data/codes.csv', sep=';')
codes.head()

   code                                   code_description
0  5944  Магазины по продаже часов, ювелирных изделий и...
1  5621                           Готовые сумочные изделия
2  5697       Услуги по переделке, починке и пошиву одежды
3  7995                       Транзакции по азартным играм
4  5137             Мужская, женская и детская спец-одежда

In [5]:
train_set = pd.read_csv('../data/train_set.csv', sep=';')
train_set.head()

   client_id  target
0   75063019       0
1   86227647       1
2    6506523       0
3   50615998       0
4   95213230       0

# EDA

# Feature engineering

# Supervised learning

# Analyzing results

# Conclusion